<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace绑定一个Mapper接口-->
<mapper namespace="com.example.demo.mapper.OrderExtraMapper">
    <resultMap id="BaseResultMap" type="com.example.demo.bean.OrderExtra" >
        <result column="id" property="id" jdbcType="BIGINT" />
        <result column="order_id" property="orderId" jdbcType="BIGINT" />
        <result column="field_key" property="fieldKey" jdbcType="VARCHAR" />
        <result column="field_value" property="fieldValue" jdbcType="VARCHAR" />
    </resultMap>

    <select id="findAll" resultMap="BaseResultMap">
        select * from ors.order_extra
    </select>
</mapper>